@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #ccc;
  font-family: "Lato", sans-serif;
}

.container {
  max-width: 100rem;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

header h1 {
  font-size: 5rem;
  color: rgba(0, 0, 0, 0.5);
}

header .input {
  border: 0;
  outline: none;
  color: #8b7d77;
}

.search {
  width: 50%;
  margin: 3rem auto;
}

.search .search_box {
  width: 100%;
  height: 4rem;
}

.search .search_box .input {
  width: 100%;
  height: 100%;
  padding: 1rem 0rem 1rem 2rem;
  border-radius: 3px;
  font-size: 1.8rem;
}

.add {
  width: 50%;
  margin: 0rem auto;
}

.add .add_box {
  width: 100%;
  height: 4rem;
}
.add .add_box .input {
  width: 100%;
  height: 100%;
  padding: 1rem 0rem 1rem 2rem;
  border-radius: 3px;
  font-size: 1.8rem;
}

.add_box label {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  color: rgba(0, 0, 0, 0.5);
}

.delete {
  cursor: pointer;
}

.list-group {
  display: flex;
  flex-direction: column;
  width: 70%;
  background-color: #eee;
  margin: 12rem auto;
}

.list-group-item {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 2rem;
}

.hide {
  display: none !important;
}
